body {
	background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 24px 0;
}
.container {
    width: 95%;
    max-width: 1200px;
}
.headline {
	font-size: clamp(2rem, 5vw, 3rem);
	font-weight: 700;
	color: #333;
    margin-bottom: 20px;
}
.subheadline {
	font-size: clamp(1.2rem, 3vw, 1.7rem);
    font-weight: 500;
    color: #666;
    margin-top: 24px;
}
.description {
	font-size: 1rem;
	color: #444;
	margin-top: 10px;
	line-height: 1.8;
}
.highlight {
	color: #e64a19 ;
	font-weight: 700;
}
.section-divider {
    margin: 25px 0;
}
.social-icons {
    margin: 20px 0;
}
.social-icons a {
	margin: 0 12px;
    color: #ff7043;
    transition: 0.3s ease-in-out;
    display: inline-block;
}
.social-icons a:hover {
	color: #e64a19 ;
}
.card-row {
    margin-top: 20px;
}
.equal-card {
    margin-bottom: 20px;
    height: 100%;
    border-radius: 10px;
}
.card-title {
    line-height: 1.4 !important;
    font-weight: 600 !important;
}
.card-content p {
    line-height: 1.7;
}
@media only screen and (max-width: 600px) {
    body {
        padding: 12px 0;
    }

    .headline {
        margin-top: 10px;
    }

    .card-content {
        padding: 20px !important;
    }

    .social-icons a {
        margin: 0 10px;
    }
}