body, .card{
    font-family: "Neue Haas Grotesk W01","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}
a{
    text-decoration: none;
}
a .hover{
    text-decoration: none;
}
.cyellow{
    color:#e7ff00;
    -webkit-text-stroke: .4px black;
}
h1{
    color: #FFF;
    font-weight: 700;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    -webkit-text-stroke: .4px black;
}
h1, h4{
    margin:0;
}
.modaltext a{
    color: #fff;
    text-decoration: none;
}
.modaltext a:focus, a:active {
    outline: none;
    -moz-outline-style: none;
}
.modal p{
    color:#fff;
    font-size:1.3em;
}
.modal {
    background-color:transparent; 
}
.chip{
    background-color:#e7ff00;
    color:#000;
}
.card.horizontal .card-image {
    max-width: 15%;
}