body,
.card {
	font-family: "Neue Haas Grotesk W01", "HelveticaNeue",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFF;
}
a {
	text-decoration: none;
	color: #000;
}
a .hover {
	text-decoration: none;
}

.headline {
	font-weight: 400;
	font-size: 2.28rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 0.5em;
} 
.description {
	font-size: 1.28rem;
	letter-spacing: 0.05em;
	line-height: 1.3em;
}
.headline span{
	color: #186ade;
}
.row {
	margin-bottom: 0px;
}
